.titulo a{
    text-align: center;
    color: orange;
    text-decoration: underline;
    text-decoration-color: purple;
}

.fondo{
    background-color: lightgoldenrodyellow;
}

.div1{
    position: absolute;
    width: 1910px;
    height: 200px;
    top: 100px;
    background-color: pink;
  }

.div2{
    position: absolute;
    width: 1910px;
    height: 200px;
    top: 225px;
    background-color: grey;
}

.div3{
    position: absolute;
    width: 1910px;
    height: 200px;
    top: 450px;
    background-color: skyblue;
}

.div4{
    position: absolute;
    width: 1910px;
    height: 50px;
    top: 680px;
    background-color: yellow;
}
.hr2{
    position: relative;
    width: 1910px;
    top: -50px;
}

.hr3{
    position: relative;
    width: 1910px;
    top: -8px;
}

.smr1{
    position: relative;
    left: 145px;
    top: -127px;
}

.smr2{
    position: relative;
    left: 110px;
    top: 35px;
    width: auto;
    height: auto;
}

.dam1{
    position: relative;
    left: 470px;
    top: -132px;
}

.dam2{
    position: relative;
    left: 430px;
    top: 35px;
    width: auto;
    height: auto;
}

.asir1{
    position: relative;
    left: 935px;
    top: -150px;
}

.asir2{
    position: relative;
    left: 900px;
    top: 28px;
    width: auto;
    height: auto;
}

.texto1{
    position: relative;
    text-align: center;
    color: blue;
}

.table{
    text-align: center;
    border: 1px solid;
    width: 35%;
    table-layout: fixed;

}

.cabecera{
    color: red;
    font-weight: bold;
}

.cuerpo{
    color: red;
    font-weight: bold;
}

.titulo2{
    color: blue;
}

.nombre{
    color: red;
}